<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express app</title>
</head>
<body>
    <h1>Interação Node.js e MySql</h1>
    <form action="/books/insertbook" method="post">
        <div class="form-control">
            <label for="title">Titulo:</label>
            <input type="text" name="title" placeholder="Digite o título do livro">
        </div>
        <div class="form-control">
            <label for="pages">Titulo:</label>
            <input type="text" name="pages" placeholder="Digite o número de páginas">
        </div>
        <div>
            <button type="submit">Cadastrar</button>
        </div>
    </form>
</body>
</html>