<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Signup page</title>
</head>
<body>
    <div class="container">
        <h4>Formulário de cadastro: </h4>
        <div class="signup-form">
            <form action="/users/save" method="post">
                <input type="text" name="name" placeholder="Informe seu nome">
                <input type="text" name="age" placeholder="Informe sua idade">
                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
</body>
</html>